# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
OLD PREVIEWS/STRV 103 0-Series/preview_birdseye.jpg
OLD PREVIEWS/STRV 103 0-Series/preview_front.jpg
OLD PREVIEWS/STRV 103 0-Series/preview_front_angle.jpg
OLD PREVIEWS/STRV 103 0-Series/preview_rear_angle.jpg
OLD PREVIEWS/STRV 103B/preview_birdseye.jpg
OLD PREVIEWS/STRV 103B/preview_front.jpg
OLD PREVIEWS/STRV 103B/preview_front_angle.jpg
OLD PREVIEWS/STRV 103B/preview_rear_angle.jpg
OLD PREVIEWS/STRV S1/preview_birdseye.jpg
OLD PREVIEWS/STRV S1/preview_front.jpg
OLD PREVIEWS/STRV S1/preview_front_angle.jpg
OLD PREVIEWS/STRV S1/preview_rear_angle.jpg
*.psd
*.zip
